<div class="container">
    <div class="row">

        <div class="col-lg-12">

            <div class="page-header">
                <h1>List movies</h1>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% @movies.each do |movie| %>
                    <tr>
                        <td><%= movie.name %></td>
                        <td><%= movie.description %></td>
                        <td>
                            <a href="<%= admin_edit_movie_path(movie.slug) %>">Edit</a>
                          <%= link_to 'Delete', admin_delete_movie_path(movie.slug) , method: 'delete' %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

            <%= link_to 'New Movie', admin_new_movie_path %>

        </div>

        <div class="col-lg-12 text-center">
            <%= paginate @movies %>
        </div>

    </div>
</div>
