<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>picture_url</th>
      <th>slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.picture_url %></td>
        <td><%= category.slug %></td>
        <td><%= link_to 'Show', admin_show_category_path(category)  %></td>
        <td><%= link_to 'Edit', admin_edit_category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', admin_new_category_path %>
